{% extends 'teretana/main.html' %}

{% block content %}

<hr class = "row">

    <div class="col-md-5"></div>
    <h2>MEMBERS</h2>

    <hr>

    <div class="card card-body">
        <a class="btn btn-primary btn-sm btn-block" href="{% url 'teretana:Member' %}">Add
        </a>
        <table class="table table-sm">
            <tr>
                <th>name</th>
                <th>card_type</th>
            </tr>
            {% for i in member %}
            <tr>
                 <td>{{i.name}}</td>
                 <td>{{i.card_type.str}}</td>
                 <td><a class="btn btn-sm btn-info" href="{% url 'teretana:UpdateM' i.id %}">Update</a> </td>
                 <td><a class="btn btn-sm btn-danger" href="{% url 'teretana:DeleteM' i.id %}">Delete</a> </td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <div class="col-md-7"></div>
    <h2>CARDS</h2>

    <hr>

    <div class = "card card-body">
        <a class="btn btn-primary btn-sm btn-block" href="{% url 'teretana:Card' %}">Add
        </a>
        <table class="table table-sm">
            <tr>
                <th>description</th>
                <th>price</th>
            </tr>

            {% for i in card %}
            <tr>
                 <td>{{i.description}}</td>
                 <td>{{i.price}}</td>
                  <td><a class="btn btn-sm btn-info" href="{% url 'teretana:UpdateC' i.id %}">Update</a> </td>
                 <td><a class="btn btn-sm btn-danger" href="{% url 'teretana:DeleteC' i.id %}">Delete</a> </td>
            </tr>

            {% endfor %}
        </table>
    </div>


</div>

{% endblock %}
